<div class="container" style="padding-top: 200px; padding-left: 200px">
  <header>
    <b>Add an item to your todo list</b>
  </header>
    <div>
      <input [(ngModel)]="newListItems">
      <button (click)="saveItem()">Save</button>
    </div>
    <div class="container" style="padding-top: 50px">
      <header>
        <b>Your list is here! Go get'em tiger!</b>
      </header>
      <div *ngFor="let item of returnedListItems">
        <ul>
          <li>{{item.listItem}}</li>
        </ul>
      </div>
    </div>
</div>
